@model Seithi247.Views.ViewModel.NewsVM;


<div class="article-layout">

    @await Html.PartialAsync(
        "_ArticleHeader",
        Model)

    @await Html.PartialAsync(
        "_ArticleActions",
        Model)

    <article class="article-content">

        @Html.Raw(Model.Content)

    </article>

    @await Html.PartialAsync(
        "_ArticleGallery",
        Model)

    @await Html.PartialAsync(
        "_ArticleVideos",
        Model)

    @await Html.PartialAsync(
        "_RelatedStories",
        new[] { Model })


</div>

@await Html.PartialAsync(
    "_CommentDrawer",
    Model)

@* @await Html.PartialAsync(
    "_MobileCommentSheet",
    Model) *@